<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Sahibinden</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">

            <ul class="navbar-nav me-auto"></ul>

            <form class="d-flex me-auto" action="{% url 'search' %}" method="POST">
                {% csrf_token %}

                <div>
                    <input class="form-control" type="text" name="q"
                        placeholder="Kelime, ilan no veya ürün adı ile ara">
                </div>

                <button class="btn btn-danger" type="submit">Detaylı Arama</button>
            </form>

        </div>
    </div>

</nav>