{% extends 'base.html' %}
{% load static %}

{% block title %} {{ products.product_name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'index' %}" class="mt-5 mb-5">Index</a> &raquo; <a
                    href="{% url 'product_list_by_category' products.product_category|lower %}" class="mt-3">{{
                    products.product_category|lower }}</a>

                <h3 class="card-title">{{ products.product_name }}</h3>
                <img class="card-img-top mx-auto mt-4" src="{{ products.product_image.url }}" alt="Card image"
                    style="width:20%">
                <p class="card-text mt-4">{{ products.product_description }}</p>
                <a href="#" class="btn btn-primary" style="background-color: red; border: 0; box-shadow: none;">Sepetine
                    Ekle</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}